.App {
  text-align: center;
  padding: 1rem;
}

.todo-item {
  border: 0.1rem solid #5cd2e6;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  border: 0.2rem solid #3085c3;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.basic-btn {
  height: 2rem;
  outline: none;
  cursor: pointer;
  font-weight: 200;
  padding: 0 1.6rem;
  border: none;
  border-radius: 0.4rem;
  line-height: 1.15;
  font-weight: 500;
}

.delete-btn {
  color: rgb(255, 255, 255);
  background: rgb(255, 80, 0);
}

.update-btn {
  color: rgb(0, 0, 0);
  background: #f4e869;
}

.nation-update-btn {
  width: 7rem;
}

.todo-content {
  margin-right: 0.5rem;
}

.input {
  margin-right: 0.5rem;

  color: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgba(0, 0, 0, 0.42);
  font-size: 1rem;
  font-weight: 400;

  box-sizing: border-box;
  padding: 20px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 0.1rem solid;
  border-radius: 4px 4px 0 0;
  background: rgb(245, 245, 245);
  height: 3rem;
  width: 80%;
  :hover {
    border-bottom-color: rgba(0, 0, 0, 0.87);
    background: #ececec;
  }
  :focus {
    border-color: #5cd2e6;
  }
}

.edit-input {
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  width: 50%;
  height: 100%;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  :focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
  }
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.country-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 2rem;
}
