.App {
  text-align: center;
}

.movieImage {
  width: 10%;
  height: 10%;
  min-height: 108px;
  min-width: 75px;

  margin-right: 1rem;
}

.header {
  border: 0.1rem solid teal;
  background-color: teal;
  color: white;
  margin-bottom: 10;
}

.main {
  border: 0.2rem solid green;
  margin-bottom: 1rem;

  display: flex;
}

.propsImage {
  width: 25%;
}

.movieBox {
  border: 0.2rem solid green;
  margin-bottom: 1rem;
  padding: 1rem;

  display: flex;
}

.movieText {
  text-align: left;
}

.movieContainer {
  padding: 1rem;
}

.countBtn {
  margin: 0.5rem;
}

.resetBtn {
  margin: 0.5rem;
}

.countNum {
  font-size: 4rem;
}

.inputColContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 10rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 1rem;
}
