$primaryColor: white;
$secondaryColor: #00b0ff;

.scss-container {
  width: 95%;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;

  .tealTopBottom {
    background: teal;
    color: $primaryColor;
    font-size: 32px;
  }

  .grayMain {
    background: $secondaryColor;
    color: $primaryColor;
    font-size: 36px;
  }
}
