header {
  font-size: large;
}

header > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header > ul > li {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.invisible {
  display: none;
}

.col-align {
  display: flex;
  flex-direction: column;
}

.dropdown {
}
